{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/calon.css' %}">
	<title>Pendaftaran Beasiswa</title>
</head>

<form action="action_page.php" style="margin-left: 350px; margin-right: 450px; margin-top: 30px;">
  <div class="container">
    <h1>Form Pendaftaran Beasiswa</h1>
    <p>Please fill in this form to apply a Beasiswa.</p>
    <span style="color: red">*Required</span>
    <hr>

    <label for="Kode"><b>Kode<span style="color: red"> *</span></b>
    </label>
    <select>
  <option value="volvo">Kode1</option>
  <option value="saab">Kode2</option>
  <option value="mercedes">Kode3</option>
  <option value="audi">Kode4</option>
    </select>
    <hr>


    <label for="psw"><b>NPM<span style="color: red"> *</span></b></label>
    <input type="password" placeholder="Enter NPM" name="npm" required>

    <label for="psw-repeat"><b>Email<span style="color: red"> *</span></b></label>
    <input type="password" placeholder="Enter Email" name="email" required>

    <label for="identitas"><b>Indeks Prestasi Semester<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter IPS" name="ips" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn btn-primary">SUBMIT</button>
    </div>
 </div>

</form>

{% endblock %}
