{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/registermhs.css' %}">
	<title>Register Mahasiswa</title>
</head>
<body>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-5">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
                <h1>Register as Mahasiswa</h1>
                <p>Please fill in this form to create an account as Mahasiswa.</p>
                <span style="color: red">*Required</span>
                <hr>
                <form action="action_page.php">
                    
                    <label for="username"><b>Username<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control" placeholder="Enter Username" name="username" required>
                   
                    <label for="psw"><b>Password<span style="color: red"> *</span></b></label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>

                    <label for="psw-repeat"><b>Repeat Password<span style="color: red"> *</span></b></label>
                    <input type="password" class="form-control" placeholder="Repeat Password" name="psw-repeat" required>

                    <label for="NPM"><b>NPM<span style="color: red"> *</span></b></label>
                    <input type="text"  class="form-control" placeholder="Enter NPM" name="NPM" required>

                    <label for="email"><b>Email<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control" placeholder="Enter Email" name="email" required>

                    <label for="nama"><b>Nama Lengkap<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control" placeholder="Enter Full Name" name="nama" required>

                    <label for="nomor"><b>Nomor Telepon</b></label>
                    <input type="text" class="form-control"  placeholder="Enter Phone Number" name="nomor">

                    <label for="alamat"><b>Alamat Tempat Tinggal<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control"  placeholder="Enter Address" name="alamat" required>

                    <label for="domisili"><b>Alamat Domisili<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control"  placeholder="Enter Domicile" name="domisili" required>

                    <label for="bank"><b>Instansi Bank<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control"  placeholder="Enter Bank Institute" name="bank" required>

                    <label for="rekening"><b>Nomor Rekening<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control"  placeholder="Enter Account Number" name="rekening" required>

                    <label for="pemilik"><b>Nama Pemilik<span style="color: red"> *</span></b></label>
                    <input type="text" class="form-control"  placeholder="Enter Owner Name" name="pemilik" required>

                    <div class="clearfix">
                      <button type="submit" class="signupbtn btn-primary">CREATE ACCOUNT</button>
                    </div>
              
                    <div class="container" style="margin-bottom: 50px;" >
                      <span style="float: right;">Already have an account?
                    	<a class="btn navbar-btn ml-2 text-white btn-secondary" href='/login/'>
                    	<i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Login</a>
                      </span>
                    </div>

                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
              

</body>
</html>
{% endblock %}
