{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
</head>

<body>
  
  <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
          <p class="lead mb-5">SIMBION adalah Sistem Informasi Beasiswa Online untuk memudahkan mahasiswa mencari dan mendaftar beasiswa. SIMBION juga membantu para Donatur untuk mendaftarkan beasiswa.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Membuat Beasiswa Baru</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/registersb/buat_beasiswa_baru/">Membuat paket mahasiswa baru</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/registersb/buat_beasiswa_dari_paket/">Menambahkan beasiswa dari paket</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> BEASISWA FULLBRIGHT </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Status Beasiswa&nbsp;
              <span class="badge badge-primary badge-pill">Aktif</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Tanggal Berlaku&nbsp;
              <span class="badge badge-primary badge-pill">19 Januari 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Jumlah Pendaftar&nbsp;
              <span class="badge badge-primary badge-pill">59</span>
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <a href="#" class="card-link">Daftar</a>
              <a href="/description/" class="card-link">Selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> BEASISWA FULLBRIGHT </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Status Beasiswa&nbsp;
              <span class="badge badge-primary badge-pill">Aktif</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Tanggal Berlaku&nbsp;
              <span class="badge badge-primary badge-pill">19 Januari 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Jumlah Pendaftar&nbsp;
              <span class="badge badge-primary badge-pill">59</span>
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <a href="#" class="card-link">Daftar</a>
              <a href="/description/" class="card-link">Selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> BEASISWA FULLBRIGHT </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Status Beasiswa&nbsp;
              <span class="badge badge-primary badge-pill">Aktif</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Tanggal Berlaku&nbsp;
              <span class="badge badge-primary badge-pill">19 Januari 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Jumlah Pendaftar&nbsp;
              <span class="badge badge-primary badge-pill">59</span>
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <a href="#" class="card-link">Daftar</a>
              <a href="/description/" class="card-link">Selengkapnya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> BEASISWA FULLBRIGHT </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Status Beasiswa&nbsp;
              <span class="badge badge-primary badge-pill">Aktif</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Tanggal Berlaku&nbsp;
              <span class="badge badge-primary badge-pill">19 Januari 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Jumlah Pendaftar&nbsp;
              <span class="badge badge-primary badge-pill">59</span>
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <a href="#" class="card-link">Daftar</a>
              <a href="/description/" class="card-link">Selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> BEASISWA FULLBRIGHT </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Status Beasiswa&nbsp;
              <span class="badge badge-primary badge-pill">Aktif</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Tanggal Berlaku&nbsp;
              <span class="badge badge-primary badge-pill">19 Januari 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Jumlah Pendaftar&nbsp;
              <span class="badge badge-primary badge-pill">59</span>
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <a href="#" class="card-link">Daftar</a>
              <a href="/description/" class="card-link">Selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> BEASISWA FULLBRIGHT </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Status Beasiswa&nbsp;
              <span class="badge badge-primary badge-pill">Aktif</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Tanggal Berlaku&nbsp;
              <span class="badge badge-primary badge-pill">19 Januari 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Jumlah Pendaftar&nbsp;
              <span class="badge badge-primary badge-pill">59</span>
            </li>
          </ul>
          <div class="card">
            <div class="card-body">
              <a href="#" class="card-link">Daftar</a>
              <a href="/description/" class="card-link">Selengkapnya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>

{% endblock %}