{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registersb.css' %}">
    <title>Pendaftaran Paket Beasiswa</title>
</head>

<form action="action_page.php" style="margin-left: 350px; margin-right: 450px; margin-top: 30px;">
  <div class="container">
    <h1>Form Pendaftaran Paket Beasiswa</h1>
    <p>Please fill in this form to Pendaftaran Paket Beasiswa.</p>
    <span style="color: red">*Required</span>
    <hr>

    <label for="kode"><b>Kode<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Kode" name="kode" required>

    <label for="identitas"><b>Nama Paket Beasiswa<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Nama Paket Beasiswa" name="nama_paket_beasiswa" required>

    <label for="jenis_paket_beasiswa"><b>Jenis Paket Beasiswa<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Jenis Paket Beasiswa" name="jenis_paket_beasiswa" required>

    <label for="description"><b>Deksripsi<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Deksripsi" name="description" required>

    <label for="syarat_beasiswa"><b>Syarat Beasiswa<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Syarat Beasiswa" name="syarat_beasiswa" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn btn-primary">SUBMIT</button>
    </div>
 </div>

</form>

{% endblock %}
