{% extends "base.html" %}

<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS dependencies -->
  <link rel="stylesheet" href="themes.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Animated entrance -->
  <script src="https://d33wubrfki0l68.cloudfront.net/js/fe6311b3c294cba469a3939f21603640522c41e5/aquamarine/js/animate-in.js"></script>
</head><body class="text-center">
  <div class="py-5 bg-primary"><div class="container"><div class="row"><div class="col-md-12" style=""><div class="col-md-12" style=""><h1 style="">List Beasiswa</h1></div></div></div></div></div><div class="py-5"><div class="container"><div class="row"><div class="col-md-12" style=""><table class="table" style="">
      <thead>
        <tr>
          <th>No.Urut</th>
          <th>Kode Skema</th>
          <th>Waktu Penutupan</th>
        <th>Status</th><th>Jumlah Pendaftar</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>20172018</td>
          <td>31 April 2018</td>
        <td>Ditutup</td><td>15</td></tr>
        <tr>
          <td>2</td>
          <td>20182018</td>
          <td>28 Mei 2018</td>
        <td>Dibuka</td><td>30</td></tr>
        <tr></tr>
      </tbody>
    </table></div></div></div></div></body></html>


{% endblock %}