{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/individu.css' %}">
	<title>Register Donatur</title>
</head>

<body>
 <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card" style="background-color: #F4FFFD; border: none;">
            <div class="card-body">
                <h1>Register as Donatur Individu</h1>
                <p>Please fill in this form to create an account as Donatur Individu.</p>
                <span style="color: red">*Required</span>
                <hr>
                    <form action="action_page.php">
                        <label for="username"><b>Username<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter Username" name="username" required>

                        <label for="psw"><b>Password<span style="color: red"> *</span></b></label>
                        <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>

                        <label for="psw-repeat"><b>Repeat Password<span style="color: red"> *</span></b></label>
                        <input type="password" class="form-control" placeholder="Repeat Password" name="psw-repeat" required>

                        <label for="identitas"><b>Nomor Identitas<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter ID Number" name="identitas" required>

                        <label for="NIK"><b>NIK<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter NIK" name="NIK" required>

                        <label for="email"><b>Email<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter Email" name="email" required>

                        <label for="nama"><b>Nama Lengkap<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter Full Name" name="nama" required>

                        <label for="npwp"><b>NPWP<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter Account Number" name="npwp" required>

                        <label for="nomor"><b>Nomor Telepon</b></label>
                        <input type="text" class="form-control" placeholder="Enter Phone Number" name="nomor">

                        <label for="alamat"><b>Alamat Lengkap<span style="color: red"> *</span></b></label>
                        <input type="text" class="form-control" placeholder="Enter Address" name="alamat" required>

                        <div class="clearfix">
                          <button type="submit" class="signupbtn btn-primary">CREATE ACCOUNT</button>
                        </div>


                         <div class="container" style="margin-bottom: 50px;" >
                        	<span style="float: right;">Already have an account?
                        	   <a class="btn navbar-btn ml-2 text-white btn-secondary" href='/login/'>
                        	   <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Login</a>
                        	</span>
                         </div>

                    </form>

                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                

</body>

</html>

{% endblock %}
