{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registerdnr.css' %}">
    <title>Register Donatur</title>
</head>

<body>
<div class="py-1">
    <div class="container" style="margin-bottom: 50px; margin-top: 30px; width: 50%;">

    <div class="row">
    <div class="card" style="background-color: #F4FFFD; border: none;">
    <div class="card-body">
    <h1>Register as Donatur</h1>
    <p>You can create an account as Donatur Yayasan or Donatur Individu.</p>
    <hr>
    </div>
    </div>
    <div class="card" style="background-color: #F4FFFD; border: none;">
    <div class="card-body">
    <div class="col-md-4">
    <a href="registerdonatur/yayasan/" class="btn btn-primary btn-lg" role="button"><b>DONATUR YAYASAN</b></a>
    </div>

    </div>
    </div>
    <div class="card" style="background-color: #F4FFFD; border: none;">
    <div class="card-body">
    <div class="col-md-4">
    <a href="registerdonatur/individu/" class="btn btn-primary btn-lg" role="button"><b>DONATUR INDIVIDU</b></a>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</body>
</html>

<!-- <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registerdnr.css' %}">
    <title>Register Donatur</title>
</head>

<div class="container" style="margin-bottom: 50px; margin-top: 30px; width: 50%;">
    <h1>Register as Donatur</h1>
    <p>You can create an account as Donatur Yayasan or Donatur Individu.</p>
    <hr>
    <div class="row">
        <div class="col">
            <a href="registerdonatur/yayasan/" class="btn btn-primary signupbtn btn-lg" role="button"><b>DONATUR YAYASAN</b></a>
        </div>
        
        <div class="col">
            <a href="registerdonatur/individu/" class="btn btn-primary signupbtn btn-lg" role="button"><b>DONATUR INDIVIDU</b></a>

        </div>
    </div>

</div> -->
  
{% endblock %}
