{% extends "base.html" %}

<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS dependencies -->
  <link rel="stylesheet" href="theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Animated entrance -->
  <script src="https://d33wubrfki0l68.cloudfront.net/js/fe6311b3c294cba469a3939f21603640522c41e5/aquamarine/js/animate-in.js"></script>
</head><body class="text-center">
   <div class="py-5 bg-primary"><div class="container"><div class="row"><div class="col-md-12" style=""><div class="col-md-12" style=""><h1 style="">Daftar Penerima Beasiswa</h1></div></div></div></div></div><div class="py-5"><div class="container"><div class="row"><div class="col-md-12" style=""><table class="table" style="">
      <thead>
        <tr>
          <th>No.Urut</th>
          <th>Nama</th>
          <th>NPM</th>
        <th>Waktu Daftar</th><th>Status Terima</th><th>Pilih</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Rafie</td>
          <td>1606889542</td>
        <td>1 Mei 2018</td><td>Aktif</td><td>Sudah diterima</td></tr>
        <tr>
          <td>2</td>
          <td>Dharmawan</td>
          <td>1606778954</td>
        <td>15 Mei 2018</td><td>Tidak Aktif</td><td><a href="#" class="btn btn-outline-danger">Tolak</a><a href="#" class="btn btn-outline-success">Terima</a></td></tr>
        
      </tbody>
   </table></div></div></div></div></body></html>


{% endblock %}